body {
  margin: 0;

  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  font-family: "Roboto", sans-serif;
  color: black;
}

.occupation {
  margin: 30px;
  font-size: 20px;
}


.technical-skills {
  width: 100px;
  height: 100px;
}

h2 {
  font-size: 30px;
}

h1 {
  font-size: 70px !important;
}

.new-section {
  padding: 100px 0 0 0;
  margin: 20px;
  border-bottom: 1px solid #dfdbdb;
  padding-bottom: 100px;
  text-align: center;
}


.odd-column div a,
.even-column div a,
.nav-bar li a {
  text-decoration: none;
  color: black;
}

.communication img {
  width: 40px;
}

.icons-in-projects {
  list-style: none;
  display: flex;
  justify-content: right;
}


.title a:hover {
  color: white;
}

.communication img:hover {
  width: 45px;
}

